@import 'styles/shared.sass'

.Button
  background-color: rgba(0, 0, 0, 0)
  border: none
  color: white
  font-size: 1em
  font-weight: normal
  outline: none
  padding: 15px

.Button--orange
  border: 1px solid $orange
  color: $orange

.Button--teal
  border: 1px solid $teal
  color: $teal

.Button--blue
  border: 1px solid $blue
  color: $blue

.Button--gray
  border: 1px solid $gray
  color: $gray
