@import 'styles/shared.sass'

.AlcoholComparisonTableMobile
  border-collapse: collapse
  width: 100%
  +from($breakpoint-mobile-large)
    display: none

.AlcoholComparisonTableMobile__table-row
  border-top: 2px solid $blue
  padding: 1rem 0
