.AlcoholComparisonTableMobile {
  /*border: 1px solid blue;*/
  border-collapse: collapse;
  width: 100%;
}

.AlcoholComparisonTableMobile__table-cell {
  border: 1px solid black;
  padding: 1rem 0;
}

.AlcoholComparisonTableMobile__table-row:nth-of-type(even) {
  /*background-color: lightgray;*/
}

@media screen and (min-width: 601px) {
  .AlcoholComparisonTableMobile {
    display: none;
  }
}
