@import 'styles/shared.sass'

th.SortableTableHeader
  cursor: pointer
  transition: color 0.2s ease-out
  &:hover
    color: $teal

th.SortableTableHeader--selected
  color: $orange
  &:hover
    color: $orange
