@import 'styles/shared.sass'

.AlcoholComparisonTableTabletAndDesktop
  display: none
  +from($breakpoint-mobile-large)
    border-collapse: collapse
    display: table
    width: 100%
    th, td
      border: 1px solid $gray
      padding: 15px
      text-align: right
      &:first-of-type
        text-align: left
        border-left: none
      &:last-of-type
        border-right: none
    th
      background-color: $blue
      border-top: none
      color: white
      font-weight: normal
    tr
      &:nth-of-type(even)
        background-color: $lightestgray
      &:hover td
        background-color: $lightgray
      &:last-of-type td
        border-bottom: none

th.AlcoholComparisonTableTabletAndDesktop__sortable-header
  color: $teal
  cursor: pointer
  transition: color 0.2s ease-out
  &:hover
    color: $lightteal
th.AlcoholComparisonTableTabletAndDesktop__sortable-header--selected
  color: $orange

td.AlcoholComparisonTableTabletAndDesktop__editable-attribute
  color: $lightblue
  cursor: pointer
  transition: color 0.2s ease-out
  &:hover
    color: $lightteal
