@import 'styles/shared.sass'

.AlcoholComparisonTable
  animation-duration: 1s
  animation-name: fadeIn
  display: flex
  flex-direction: column
  width: 100%

.AlcoholComparisonTable__headline
  color: $blue
  font-weight: bold
